@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Shared style */

.bold-text{
    font-weight: bolder;
}

.display-flex{
    display: flex;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




/* Header Styling */
header{
    height: 715px;
    width: auto;
    background: linear-gradient(to bottom, #111111, #282828, #111111);
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.brand{
    font-size: 2.2rem;
    color: #E6533C;
    font-style: italic;
}

.nav-links{

}

.nav-links > ul{
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 10px 10px;

}

.nav-links > ul > li > a{
    text-decoration: none;
    color: white;
}

.link-home{
    background-color: #E6533C;
    padding: 5px 15px;
    border-radius: 50px;
}

.header-section{
  
}

.header-title{
    font-size: 4rem;
    color: white;
    font-weight: bold;
    width: 50%;
    margin-left: 20%;
    padding-bottom: 30px;
}

.header-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    width: 50%;
    margin-left: 20%;
    padding-bottom: 30px;
}

.btn-1{
    background-color: #E6533C;
    padding: 15px 35px;
    border: 0px;
    border-radius: 40px;
    height: 55px;
    width: 255px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 20%;
}

.btn-2{
    padding: 15px 35px;
    background-color: #111111;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    height: 55px;
    width: 255px;
    font-size: 1rem;
    font-weight: 600;
}