@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
                
*{
    padding: 0;
    margin: 0;
}
/* Shared style */
body, html, .full-body{
    margin: 0;
    padding: 0;
}

.bold-text{
    font-weight: bolder;
}

.display-flex{
    display: flex;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}




/* Header Styling */
header{
    height: 715px;
    width: 0 auto;
    background: linear-gradient(to bottom, #000000, #282828, #000000);
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.brand{
    font-size: 2.2rem;
    color: #E6533C;
    font-style: italic;
}


.menu{
    display: none;
}

.nav-links{

}

.nav-links > ul{
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 10px 10px;

}

.nav-links > ul > li > a{
    text-decoration: none;
    color: white;
}

.link-home{
    background-color: #E6533C;
    padding: 5px 15px;
    border-radius: 50px;
}
.header-section{
  
}


.videos{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #303030;
    height: 100px;
    width: 195px;
    border-radius: 10px;
    transform: translateX(150px) translateY(-400px);

}

.v-title{
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

}

.v-description{
    font-size: 1rem;
    color: rgb(121, 121, 121);
    font-weight: 400;
    padding-left: 20px;
}


.tutorial{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #303030;
    height: 100px;
    width: 195px;
    border-radius: 10px;
    transform: translateX(-100px) translateY(-350px);

}
.t-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.crcl{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid white;
    margin: 10px;
}

.t-title{
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;

}

.t-description{
    font-size: 1rem;
    color: rgb(169, 169, 169);
    font-weight: 400;
    padding-left: 20px;
}


.header-title{
    font-size: 4rem;
    line-height: 60px;
    color: white;
    font-weight:900;
    width: 50%;
    margin-left: 20%;
    padding-bottom: 30px;
    padding-top: 50px;
}

.shape{
    font-family: miama;
    font-size: 7rem;
    font-weight: 200;
}

.header-description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    width: 50%;
    margin-left: 20%;
    padding-bottom: 30px;
}

.btn-1{
    background-color: #E6533C;
    padding: 15px 35px;
    border: 0px;
    border-radius: 40px;
    height: 55px;
    width: 255px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 20%;
    cursor: pointer;
    
}
.btn-1:hover{
    background-color: firebrick;

}


.btn-2{
    padding: 15px 35px;
    background-color: #111111;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    height: 55px;
    width: 255px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.header-image > img{
    width: 100%;
    height: 84.5%;
}


.full-body{
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    padding: 0px;
}

/* Habits Related Styling */

.sec-habits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    margin-top: 100px;
}
.habits-cards{
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 50px;
}

.habits-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin: 0px auto;
}
.habits-title{
    margin: 0px auto;
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.habits-description{
    margin: 0px auto;
    font-size: 0.8rem;
    font-weight:400;
    color: rgba(255, 255, 255, 0.5);
    width: 50%;
    padding: 20px;
    text-align: center;
}


.habits-img{
    border: 5px solid #282828 ;
    border-radius: 50%;
    align-items: center;
}


.habits-card-title{
    margin: 0px auto;
    font-size: 1rem;
    font-weight: bolder;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.habits-card-description{
    margin: 0px auto;
    font-size: 0.8rem;
    font-weight:400;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
}



/* Run section Styling */

.sec-run{
    display: flex;
    gap: 50px;
    background-color: rgba(75, 75, 75, 0.5);
    border-radius: 20px;
    margin-top: 100px;
}

.run-box{

}

.run-img{
    height: 312px;
    width: 366px;
    border-radius: 20px;
    margin: 30px;
}

.run-box-title{
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
    width: 300px;
    padding: 20px;
}

.run-box-description{
    font-size: 0.8rem;
    line-height: 20px;
    font-weight:400;
    color: rgba(255, 255, 255, 0.5);
    width: 60%;
    padding: 20px;
}

.btn-3{
    background-color: #E6533C;
    padding: 10px 40px;
    border: 0px;
    border-radius: 40px;
    height: 55px;
    width: 255px;
    color: #FFFFFF;
    font-size: 1rem;
    margin: 20px;
    cursor: pointer;
}

.team-title{
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.team-description{
    font-size: 0.8rem;
    line-height: 20px;
    font-weight:400;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    width: 55%;
    text-align: center;
}

.team-images{
    background-color: ;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    background-color: rgba(75, 75, 75, 0.5);
    border-radius: 20px;
    margin-top: 50px;
}


.team-img{
    height: 90%;
    width: 90%;
    border-radius: 20px;
    margin: 20px;
}


/* BMI Calculator Styling */
.bmi-sec-title{
    font-size: 3rem;
    font-weight: bolder;
    color: #FFFFFF;
    width: 100%;
    padding-left: 200px;
    text-align: left;
    margin-top: 50px;
}

.bmi-sec-description{
    font-size: 0.8rem;
    line-height: 20px;
    font-weight:400;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding-left: 200px;
    margin-bottom: 50px;
}



.bmi-form-description{
    font-size: 0.8rem;
    line-height: 20px;
    font-weight:400;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.bmi-container{
    display: flex;
    background: rgb(26, 26, 26);
    border-radius: 10px;
    padding: 30px;
    color: #282828;

}

.bmi-chart{
    width: 80%;
}

.bmi-form{
    width: 120%;
}
.bmi-chart-title, .bmi-form-title{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #FFFFFF;
    width: 100%;
    text-align: left;
    margin-top: 50px;
    ;
}

table, td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 40px;

  }

  th{
    color: #FFFFFF;
  }



  input[type=text], select, option{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 0px;
    border-radius: 10px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgb(75, 75, 75), rgb(49, 49, 49));
    color: rgba(255, 255, 255, 0.6);
  }

  ::placeholder{
    color: rgba(255, 255, 255, 0.6);
  }

  #age, #sex{
    width: 50%;
  }
  .flexMama{
    display: flex;
    gap: 10px;
  }


/* Footer Styling */
.footer{
    display: flex;
    justify-content: space-between;
    background: rgb(19, 19, 19);
    display: flex;
    margin: 0px auto;
    padding: 100px;
}

.f-brand-title{
    font-size: 4rem;
    color: #E6533C;
    font-style: italic;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 20px;
}

.f-brand-description{
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    width: 120%;
}

.f-service{
    font-size: 2rem;
    font-weight: bolder;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    text-align: right;
}

.f-service > ul > li{
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-left: 130px;
    list-style: none;
}

.copyright{
    background: rgb(19, 19, 19);
    border-top: 5px solid rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}



@media screen and (max-width: 576px) {
    body{
        overflow-x:visible;
    }
    .navbar{
        padding-top: 10px;
        padding-left: 5px;
    }
    .nav-links{
        display: none;
    }
    .menu{
        height: 10%;
        width: 10%;
        display: block;
    }
    .header-section{
        flex-direction: column;
    }
    .header-title, .header-description, .btn-1{
        margin: 10%;
    }
    .header-image > img{
        width: 90%;
        height: 84.5%;
    }
    .btn-1{
        margin-left: 10%
    }

    .btn-2{
        margin-left: 10%
    }
    .sec-habits{
        margin-top: 1200px;
    }
    .sec-habits, .habits-cards, .sec-run{
        flex-direction: column;
    }
    .run-img{
        margin-left: 10px;
        height: 280px;
        width: 330px;
    }

    .team-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer{
        flex-direction: column;
    }
    .f-service{
        text-align: left;
    }
    .f-brand-description{
        max-width: 60%;
    }
    .f-service > ul > li{
        margin-left: 5px;
        padding-bottom: 5px;
    }

    .bmi-container{
        flex-direction: column;
    }
    .bmi-sec-title{
        padding-left: 20px;
    }
    .bmi-sec-description{
        padding-left: 5px;
        width: 500px;
    }
    .flexMama{
        width: 80%;
    }
    .activity{
        width: 80%;
        background-color: red;
    }
    body, html, .full-body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    *{
        padding: 0;
        margin: 0;
        margin: 0 auto;
    }
}



@media screen and (min-width: 576px) and (max-width: 1440px) {

    .menu{
        display: none;
    }

}
